name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true

      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Install dependencies
        id: npm-ci
        run: npm ci
        env:
          # See https://docs.github.com/en/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility#ensuring-workflow-access-to-your-package
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Building and running tests
        id: npm-build
        run: npm run build && npm test

      - name: "Yontrack configuration"
        id: yontrack-config
        uses: nemerosa/ontrack-github-actions-cli-config@v1.0.3
        env:
          YONTRACK_URL: ${{ vars.ONTRACK_URL }}
          YONTRACK_TOKEN: ${{ secrets.ONTRACK_TOKEN }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build validation
        if: ${{ steps.npm-build.outcome != '' }}
        uses: ./
        with:
          logging: true
          validation: BUILD
          status: '[ "${{ steps.npm-build.outcome }}" = "success" ] && echo PASSED || echo FAILED'

      - name: Publication
        id: npm-publish
        if: ${{ github.ref_name == 'main' }}
        run: |
          npx semantic-release
          # Capture the version from the latest git tag created by semantic-release
          VERSION=$(git describe --tags --abbrev=0 2>/dev/null || echo "")
          echo "version=$VERSION" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Tagging the Yontrack build
        if: ${{ github.ref_name == 'main' }}
        run: |
          yontrack build set-property release ${{ steps.npm-publish.outputs.version }}

      - name: Released validation
        uses: ./
        with:
          logging: true
          validation: RELEASE
          status: PASSED
